
# Ignore all .log files
*.log

# Ignore the 'node_modules' directory 
node_modules/

# Ignore the 'node_modules' directory 
inc/kirki/ 

# Don't ignore README.md, even if other .md files are ignored
!README.md