/* Error: expected "$".
 *   ,
 * 6 | @for
 *   |     ^
 *   '
 *   assets\sass\abstracts\_index.scss 6:5  @use
 *   assets\sass\base\_base.scss 1:1        @forward
 *   assets\sass\base\_index.scss 2:1       @use
 *   assets\sass\main.scss 13:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "$".\a   \2577 \a 6 \2502  @for\a   \2502      ^\a   \2575 \a   assets\\sass\\abstracts\\_index.scss 6:5  @use\a   assets\\sass\\base\\_base.scss 1:1        @forward\a   assets\\sass\\base\\_index.scss 2:1       @use\a   assets\\sass\\main.scss 13:1             root stylesheet';
}
