.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-muted {
  color: #6c757d !important;
}
.uppercase {
  text-transform: uppercase !important;
}
