@use "../abstracts/" as *;
.btn {
  --bg:  theme-color("primary-color");
  --fg: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 999px;
  padding: 0.7rem 1.1rem;
  border: 2px solid transparent;
  background: theme-color("primary-color");
  color: var(--fg);
  transition: all 0.25s ease;
  box-shadow: var(--shadow-soft);
}
.btn:focus-visible {
  outline: 2px solid var(--yellow-2);
  outline-offset: 2px;
}
.btn--ghost {
  --bg: transparent;
  --fg: var(--text);
  border-color:  theme-color("primary-color");
}
.btn--ghost:hover {
  background: #000;
  color:  theme-color("primary-color");
}
.btn--primary:hover {
  background: #000;
  color:  theme-color("primary-color");
  border-color:  theme-color("primary-color");
}
