@use "../abstracts/" as *;
@use "sass:color";

.tmt-cart__section .tmt-container {
  & h1,
  h2,
  h3 {
    color: theme-color("primary-color");
  }
  margin-top: 2rem;

  & > .tmt-cart__grid {
    display: grid;
    grid-template-columns: 75% 35%;
    grid-template-areas: "left right";
    gap: 2rem;

    & .tmt-cart__left {
      grid-area: left;
      // border-right: 1px solid theme-color("primary-color");
      & table thead th {
        border-bottom: 2px solid theme-color("primary-color"); /* viền dưới màu đen */
      }
      & .woocommerce-cart-form {
        //
      }
    }
    & .tmt-cart__right {
      grid-area: right;
      background-color: color.adjust(
        theme-color("background"),
        $lightness: 2%
      );

      & .tmt-right-box {
        margin: 1rem;
        & section {
          margin-top: 1.5rem;
        }
        & .tmt-card__title {
          padding-bottom: 0.5rem;
        }
      }
    }
    & .wc-proceed-to-checkout {
      display: none !important;
    }
  }
}
