@use "../abstracts/" as *;
.site-header {
  &::after {
    content: "";
    position: absolute;
    bottom: 0; /* nằm sát đáy header */
    left: 0;
    width: 100%;
    height: 6px; /* độ dày underline */
    background: linear-gradient(
      to right,
      #ffd700,
      /* vàng tươi */ #ff8c00 /* cam đậm */
    );
  }
  &__middle {
    position: relative;
    padding: 2.5rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    // background-color: theme-color("primary-color");
    @debug "";
  }
  &__branding {
    @debug "";
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0; /* nằm sát đáy header */
    left: 0;
    width: 100%;
    height: 6px; /* độ dày underline */
    background: linear-gradient(
      to right,
      #ffd700,
      /* vàng tươi */ #ff8c00 /* cam đậm */
    );
  }
}
// .site-nav {
//   flex: 1;
//   flex-grow: 1;
// }
