@use "../abstracts/" as *;
@use "sass:color";

.site-header__middle {
  background: theme-color("background-color");
  padding: 2rem 0;
}
.header-middle {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @debug "";
  }
  // & nav{
  //   @include nav-menu;
  // }
}
