@use "../abstracts/" as *;
@use "sass:color";

.site-header {
  &__middle {
    background: theme-color("background-color");
    padding: 2rem 0;
  }
  &__branding {
    font-family: "Coiny";
  }
}
.header-middle {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @debug "";
    & nav {
      font-family: "Coiny";
    }
  }
  // & nav{
  //   @include nav-menu;
  // }
}
