@use "../abstracts/" as *;
@use "sass:color";

.site-header__top {
  width: 100vw;
  background-color: color.scale(
    theme-color("background-color"),
    $lightness: 10%
  );
  border-bottom: 1px solid rgba(255, 195, 0, 0.1);
}

.header-top {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0 1rem;
    align-items: center;
  }
}

.header-top__nav {
  // width: 50%;

  & .menu-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: fluid-space(2rem, 4rem);
    flex: 1;
  }
}
.header-top__user {
  //  width: 10%;
  text-align: right;
  // padding-left: 3rem;
  border: 1px solid theme-color("primary-color");
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  inline-size: 28px;
  block-size: 28px;
  border-radius: 999px;
  transition: all 0.2s ease;
}
.header-top__social {
  & i {
    border: 1px solid theme-color("primary-color");
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    inline-size: 28px;
    block-size: 28px;
    border-radius: 999px;
    transition: all 0.2s ease;
  }
}

.header-top__cta {
  display: flex;
  text-align: left;

  border-radius: 2rem;
  gap: 2rem;

  & a {
    margin: 0.5rem;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.6rem;
    &:hover {
      & i {
        animation: fa-shake 2s;
      }
      transform: scale(1.1);
      font-weight: bold;
    }
  }
}
