@use "../abstracts/" as *;
.search-bar {
  display: flex;
  border: 1px solid theme-color("primary-color");
  border-radius: 999px;
  overflow: hidden;
  width: clamp(40rem, 30vw + 2rem, 40vw);
  max-width: 40vw;

  .search-input {
    flex: 1;
    border: none;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    outline: none;
  }

  .search-button {
    background: theme-color("primary-color");
    border: none;
    padding: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    i {
      pointer-events: none;
    }
  }
}
